html,
body {
    width: 260px;
    background-color: dimgray;
    color: whitesmoke;
}

.text {
    display: flex;
    align-items: center;
}

.slider {
    margin: 0 5px 0 5px;
    width: 90%;
}

.slider-input {
    width: 100%;
}

.slider-output {
    margin-left: 5px;
}